$gray-page: #0d1117;
$gray-border: #282c31;
$con-none: #161b22;
header {
  background-color: $con-none;
  color: #fff;
  width: 100%;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;

    .list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      &-item {
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        padding: 4px;
        border-radius: 5px;
        &:hover {
          background-color: $gray-border;
          transition: 0.1s ease-in;
        }
      }
    }
  }
}
