// Global colors
$global-primary: #1F6FEB;
$global-secondary: #E77960;
$global-link: #58A6FF;
$global-sass: #C6538C;
$global-js: #F1E05A;
$global-vue: #41B883;
$global-css: #563D7C;

// Grays color
$gray-page: #0D1117;
$gray-navbar:  #161B22;
$gray-button: #21262D;
$gray-border: #282C31;
$gray-badge: #343942;
$gray-secondary: #6E7681;
$gray-icon: #8B949E;
$gray-primary: #C2CAD1;
$gray-white: #FFFFFF;

// Contributions color
$con-none: #161B22;
$con-low : #0E4429;
$con-medium: #0D743C;
$con-good: #26A641;
$con-full: #FFFFFF;



$font-segoe-400: 'Segoe UI Regular';